 1. What are data structures, and why are they important?
 >> Data structures are organized ways of storing, managing, and arranging data so that it can be used efficiently. Examples include arrays, lists, stacks, queues, trees, and graphs.
 Data structures are important because they help in:
  >Efficient data storage and retrieval
  >Faster algorithm performance
  >Better memory management
  >Solving complex problems easily
  >Building strong foundations for coding, development, and system design

  2. Explain the difference between mutable and immutable data types with examples?
  >> Mutable Data Types
  Can be changed or modified after creation.
  Examples:
  List → a = [1, 2, 3] → a[0] = 10 (changes allowed)
  Dictionary → d = {"a": 1} → d["a"] = 2
  Immutable Data Types
  Cannot be changed once created; any modification creates a new object.
  Examples
  String → s = "hello" → s[0] = "H" (not allowed)
  Tuple → t = (1, 2, 3) (values cannot be changed)
  Integer → x = 5 → x = x + 1 (creates a new integer)

  3. What are the main differences between lists and tuples in Python?
  >> Mutability
     List: Mutable (can be changed)
     Tuple: Immutable (cannot be changed)
     Syntax
     List: Uses square brackets → [1, 2, 3]
     Tuple: Uses parentheses → (1, 2, 3)
     Performance
     List: Slower because it’s mutable
     Tuple: Faster because it’s immutable
     Use Case
     List: When you need data that can change
     Tuple: When you want fixed data or use as dictionary keys
     Memory Usage
     List: Uses more memory
     Tuple: More memory-efficient.

  4.  Describe how dictionaries store data.
    >> Dictionaries store data in key–value pairs.
      They use a structure called a hash table, where:
      Each key is converted into a hash value (a unique number).
      This hash value decides where the data (key–value pair) is stored in memory.
      When you search for a key, Python uses the hash to quickly find the value.Example:
      {"name": "bhavya", "age": 25}
      "name" and "age" are keys
      "bhavya" and 25 are the values   

  5. Why might you use a set instead of a list in Python?
     >> Sets automatically remove duplicate values, while lists allow duplicates. Sets provide faster search and lookup compared to lists.
     Order does not matter in sets, so they are useful when you just need unique items. Sets support mathematical operations like union, intersection and difference.

   6.  What is a string in Python, and how is it different from a list?
    >> A string in Python is a sequence of characters written inside quotes,    such as "hello" or 'python'.
     Differences from a list:
     Mutability>> String: Immutable (cannot be changed).
                 List: Mutable (can be changed).
     Data Type>> String: Contains only characters.
                 List: Can contain different data types (numbers, strings, etc.).
     Syntax>> String: Uses quotes - "hello"
               List: Uses square brackets - [1, 2, 3]
     Modification>> String: Cannot modify individual characters.
                    List: Elements can be added, removed, or updated.

   7. How do tuples ensure data integrity in Python?
    >> Tuples ensure data integrity because they are immutable, meaning their  values cannot be changed after creation. This protects the data from accidental modification, making tuples ideal for storing fixed, constant, or secure information.

   8. What is a hash table, and how does it relate to dictionaries in Python?
   >> A hash table is a data structure that stores data using a key-value system. It uses a hash function to convert each key into a hash value, which decides where the value is stored in memory.
   In Python, dictionaries are implemented using hash tables. This is why dictionary operations like searching, inserting, and deleting are very fast.

   9. Can lists contain different data types in Python?
   >> Yes, the list can contains an integer, a string, a float, and a boolean.
   
   10. Explain why strings are immutable in Python?
   >> Strings are immutable to ensure safety, efficiency, and reliable use in hash-based structures like dictionaries.

   11. What advantages do dictionaries offer over lists for certain tasks?
   >> Fast Access: Dictionaries allow quick lookup of values using keys, while lists require searching through elements.

     Key-Value Storage: Dictionaries store data in key-value pairs, making them ideal for structured information.

     No Need to Remember Indexes: You can access data using meaningful keys instead of numeric positions.

     Efficient Updates:Updating or modifying values is faster and easier with keys.

    12. Describe a scenario where using a tuple would be preferable over a list.
   >> A tuple is better when you need to store fixed data that should not change.
   Example: Storing coordinates of a location:
            location = (28.7041, 77.1025)
   Coordinates must remain constant, so using a tuple prevents accidental modifications.

    13. How do sets handle duplicate values in Python?
   >> Sets in Python automatically remove duplicate values. When you add repeated elements to a set, only one copy is kept.

    14. How does the “in” keyword work differently for lists and dictionaries?
     >> In lists the "in" keyword checks whether a value exists in the list or not while in dictionaries the "in" keyword checks only for keys, not values.
    
    15. Can you modify the elements of a tuple? Explain why or why not.
    >> No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed, added to, or removed.
     Reason- Immutability ensures data integrity, allowing tuples to be used as fixed, reliable data containers and as keys in dictionaries.
    
    16. What is a nested dictionary, and give an example of its use case?
    >> A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its value. It allows you to store hierarchical or structured data.
     Example: Storing student information with subjects and marks:
     students = { "Alice": {"Math": 90, "Science": 85},
     "Bob": {"Math": 75, "Science": 95}}

    17. Describe the time complexity of accessing elements in a dictionary.
    >> In Python, dictionaries are implemented using hash tables, so accessing a value by its key is very fast.
   
   18. In what situations are lists preferred over dictionaries?
   >> Situations Where Lists Are Preferred Over Dictionaries
     Ordered Data: When the order of elements matters, lists preserve insertion order.
     Sequential Access: When you need to access elements by index or iterate in order.
     Simple Collections: For storing a simple collection of items without key-value pairs.
     Duplicates Allowed: When duplicate values are needed, lists allow repeated elements.

  19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  >> Unordered Nature: Dictionaries store data as key-value pairs using a hash table. The elements are not stored in the order they are added.

   Effect on Data Retrieval: You cannot rely on the insertion order to access items.
   Accessing data is done via keys, not by position.
   Retrieval is fast because it uses the key's hash, not the order.
  
  20. Explain the difference between a list and a dictionary in terms of data retrieval.
   >> In lists - retrieve by position, slower for search
      In dictionaries → retrieve by key, faster and efficient for lookup

In [2]:
#Write a code to create a string with your name and print it.
name = "Bhavya"
print(name)
type(name)

Bhavya

str

In [3]:
#Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [5]:
#Write a code to convert the string "hello" to uppercase.
string="hello"
string.upper()

'HELLO'

In [6]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string="I like apple"
string.replace("apple","orange")

'I like orange'

In [7]:
#Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [8]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [9]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [11]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list=['a','b','c','d']
list[1]

'b'

In [13]:
 #Write a code to reverse the list [10, 20, 30, 40, 50].
 list=[10,20,30,40,50]
 list[::-1]

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
tuple

(100, 200, 300)

In [15]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red','green','blue','yellow')
tuple[-2]

'blue'

In [16]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
min(tuple)

5

In [17]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

In [18]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=('apple','banana','kiwi')
'kiwi' in tuple

True

In [19]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
set

{'a', 'b', 'c'}

In [20]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
set

set()

In [21]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
set

{1, 2, 3}

In [22]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [23]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [24]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict={"name":"bhavya","age":25,"city":"delhi"}
dict

{'name': 'bhavya', 'age': 25, 'city': 'delhi'}

In [27]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
contacts={'name':'alice','age': 30}
contacts['name']

'alice'

In [30]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
contacts={'name': 'Bob', 'age': 22, 'city': 'New York'}
del contacts['age']
contacts

{'name': 'Bob', 'city': 'New York'}

In [31]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
contacts={'name': 'Alice', 'city': 'Paris'}
'city' in contacts

True

In [32]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3]
tuple=(1,2,3)
dict={"a":1,"b":2,"c":3}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [52]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[18, 44, 58, 59, 64]

In [56]:
#Write a code to combine two dictionaries into one and print the result.
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict={**dict1,**dict2}  # ** = “take all key-value pairs and expand them here.”
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [85]:
#Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "orange", "banana"]
my_set =__builtins__.set(my_list)
print(my_set)

{'apple', 'orange', 'banana'}